<div class="search-box">
<p><%= image_tag("groonga.png", :alt => "groonga") -%></p>
<% form_tag({:action => "search"}, :method => :get) do -%>
<p><%= text_field_tag("query", h(params[:query])) %></p>
<p><%= submit_tag("検索") %></p>
<% end -%>
</div>

<%= render(:partial => "sources") %>
